$color-primary: hsl(0, 0%, 85%);
$color-secondary: hsl(240, 2, 48);
$color-hover: hsl(0, 0, 80%);

@mixin box($width, $height) {
  display: flex;
  justify-content: center;
  align-items: center;

  width: $width;
  height: $height;
}

:root {
  font-family: "Roboto", sans-serif;
}

// Overwriting the default, which places a small
// margin around the perimeter for some reason
body {
  margin: 0;
  cursor: default;
  overflow-x: hidden; // prevent Framer Motion scrollbar
}

a {
  color: hsl(197, 100%, 40%);
  text-decoration: none;
}

// TODO: I would write these styles in the WelcomeMessage component, but
// TODO: I don't think React allows inline animation/keyframes?
.nickname-form {
  &:hover {
    opacity: 80%;
  }

  animation: pulse 20s infinite;

  @keyframes pulse {
    0%,
    100% {
      color: #b695c9;
    }

    50% {
      color: #fad197;
    }
  }
}

// Header
.header {
  color: hsl(0, 0%, 20%);
  display: flex;
  align-items: center;
  padding-inline: 0.8rem; // shorthand for left and right padding

  // border-bottom: 1px solid $color-primary;

  &__left {
    display: flex;
    flex: 1;
    width: 3rem;
    height: 3rem;
    cursor: pointer;

    gap: 0.5rem;

    &:hover {
      opacity: 80%;
      transition-duration: 0.1s;
    }

    &:active {
      transform: scale(0.97);
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
  }

  &__svg {
    width: 2rem;
    height: 2rem;
    padding: 0.25rem;

    cursor: pointer;

    &:hover {
      color: hsl(0, 0%, 47.5%);
      transition-duration: 0.1s;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__svg--flipped {
    @extend .header__svg;
    transform: scaleX(-1);
  }
}

// Logo
.logo {
  &__wordmark {
    align-self: center;
    font-size: 2rem;
    font-family: "Lobster", serif;
  }

  &__wordmark--left {
    color: hsl(0, 0%, 20%);
  }

  &__wordmark--right {
    color: hsl(0, 0%, 30%);
  }
}

// Dialog
.dialog {
  border: none;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05), 0 0 10px 4px rgba(0, 0, 0, 0.05),
    0 0 15px 6px rgba(0, 0, 0, 0.05), 0 0 20px 8px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  max-width: 27.5rem;
  z-index: 9;

  &__right {
    display: flex;
    justify-content: flex-end;
  }

  &__btn--close {
    width: 1.4rem;
    height: 1.4rem;

    cursor: pointer;
  }
}

.flexbox1 {
  display: flex;
  justify-content: center;
  // align-items: center;
  font-size: 1.3rem;
}

.flexbox2 {
  display: flex;
  // display: inline-flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  // border: solid 3px black;
  min-width: 30rem;
  box-shadow: 0.75rem 0.75rem 1rem hsl(0deg 0% 0% / 0.15);
  flex-basis: content;
  padding-inline: 5rem;
  // padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 2rem;

  background-image: url("./assets/unsplashPastel.jpg");
  background-position: 0px 10%;
  background-repeat: repeat-x;
  animation: slide 40s linear infinite;

  position: relative;

  &__countdown {
    position: absolute;
    top: -2rem;
    right: -1rem;
    font-size: 4rem;
    font-family: "Roboto Slab";
    align-self: flex-end;
  }
}

@keyframes slide {
  to {
    background-position: -1920px 10%;
  }
}

.flexbox3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center;
  min-width: 10rem;
  margin-block: 2rem;
  border: 2px dashed hsl(0, 0%, 65%);
  padding-inline: 5rem;
  padding-block: 2rem;
  font-size: 1.1rem;
  line-height: 0; // TODO: LULW
  font-weight: 600;
  font-family: "Roboto";
  gap: 2rem;
}

.socketInfo {
  display: flex;
  flex-direction: row;
}

.socketInfo__left {
  display: flex;
  align-self: flex-start;
}

.socketInfo__right {
  display: flex;
  align-self: flex-end;
}

// Menu
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &__title {
    @extend .menu;
    font-size: 3.5rem;
    font-family: "Lobster", sans-serif;
    font-weight: lighter;
  }

  &__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 15rem;
    height: 5rem;

    font-weight: 300;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;

    color: white;
    border-radius: 2rem;
    cursor: pointer;

    &:active {
      width: 17.5rem;
      transition-timing-function: ease-out;
    }

    &:hover {
      transition-duration: 0.1s;
      transition-timing-function: ease-in;
    }
  }

  &__btn--online {
    @extend .menu__btn;

    background-color: hsl(93, 77%, 38%);
    border: 3px solid hsl(93, 77%, 35%);

    &:hover {
      background-color: hsl(93, 77, 45);
      border: 3px solid hsl(93, 77%, 45%);
    }
  }

  &__btn--offline {
    @extend .menu__btn;

    background-color: hsl(197, 89%, 26%);
    border: 3px solid hsl(197, 89%, 23%);

    &:hover {
      background-color: hsl(197, 89, 36);
      border: 3px solid hsl(197, 89%, 36%);
    }
  }

  &__btn--back {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border: 2px solid hsl(0, 0%, 50%);

    border-radius: 1rem;
    cursor: pointer;

    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    color: black;

    &:active {
      background-color: hsl(0, 0%, 40%);
    }

    &:hover {
      background-color: hsl(0, 0%, 90%);
      transition-duration: 0.1s;
      transition-timing-function: ease-in;
    }
  }
}

.btn--new-game {
  @extend .menu__btn;

  flex-direction: row;

  width: 10rem;
  height: 2.5rem;
  font-size: 1.3rem;
  line-height: 1.2rem;

  background-color: hsl(0, 52%, 48%);
  color: white;

  border: 3px solid hsl(0, 52%, 45%);
  border-radius: 2rem;
  cursor: pointer;

  &:active {
    transform: scale(0.95);
    width: 10rem;
    transition-timing-function: ease-out;
  }

  &:hover {
    background-color: hsl(0, 52, 58);
    border: 3px solid hsl(0, 52, 58);
  }

  &--hidden {
    @extend .btn--new-game;
    visibility: hidden;
  }
}

.alert {
  position: fixed;
  top: 28.74vh; // slots right in between the guesses
  z-index: 1;

  padding-inline: 1rem;
  padding-block: 0.6rem;
  background-color: hsl(0, 0%, 10%, 90%);

  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  opacity: 1;
}

// TODO: can't get it to fade...
.alert--hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 1rem;
}

.countdown-timer {
  position: fixed;
  top: 26.1vh;
}

.boards-container {
  display: flex;
  flex-direction: row;
}

// Game
.game-board {
  display: flex;
  flex-direction: column;
  // align-items: center;
  gap: 0.35rem;

  padding: 1rem;
  font-weight: 600;

  &--game-over {
    @extend .game-board;
    opacity: 60%;
  }
}

.guess {
  display: flex;
  gap: 0.35rem;

  &__tile {
    @include box(3.5rem, 3.5rem);
    border: 2px solid $color-primary;

    color: black;
    font-weight: bold;
    font-size: 2rem;

    &--active {
      @extend .guess__tile;
      border-color: $color-secondary;
    }

    &--correct {
      @extend .guess__tile;
      color: white;
      border-color: hsl(115, 29, 52);
      background-color: hsl(115, 29, 52);
    }

    &--wrong-position {
      @extend .guess__tile;
      color: white;
      border-color: hsl(49, 51, 57);
      background-color: hsl(49, 51, 57);
    }

    &--wrong {
      @extend .guess__tile;
      color: white;
      border-color: $color-secondary;
      background-color: $color-secondary;
    }
  }
}

// Keyboard
.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.45rem;

  &__row {
    display: flex;
    gap: 0.45rem;
  }

  &__key {
    @include box(2.5rem, 3.5rem);

    cursor: pointer;

    background-color: $color-primary;
    border: none;
    border-radius: 0.25em;
    font-weight: bold;
    font-size: 1.2em;

    &:hover {
      background-color: $color-hover;
      transition-duration: 0.1s;
      transition-timing-function: ease-in;
    }

    &--correct {
      @extend .keyboard__key;
      color: white;
      border-color: hsl(115, 29, 52);
      background-color: hsl(115, 29, 52);
    }

    &--wrong-position {
      @extend .keyboard__key;
      color: white;
      border-color: hsl(49, 51, 57);
      background-color: hsl(49, 51, 57);
    }

    &--wrong {
      @extend .keyboard__key;
      color: white;
      border-color: $color-secondary;
      background-color: $color-secondary;
    }

    &--large {
      @extend .keyboard__key;
      width: 4rem;
      font-size: 0.75rem;

      &--svg {
        @extend .keyboard__key--large;
        font-size: 1.5rem;
      }
    }
  }
}

// @media (max-width: 360px) {
//   body {
//     background-color: lightblue;
//   }
//   .keyboard {
//     width: clamp(200px, 50%, 600px);
//   }
// }
