@mixin box($width, $height) {
  display: flex;
  justify-content: center;
  align-items: center;

  width: $width;
  height: $height;
}

:root {
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 0.9rem;
}

// Colors: the general rule I've found is that that dark mode colors
// should be 10% darker than their light mode counterparts. There are
// hard exceptions, especially with white/black/gray.
html,
html[data-theme="light"] {
  --bg-main: hsl(0, 0%, 100%);
  --color: hsl(240, 3%, 7%);
  --color-secondary: hsl(240, 3%, 37%);
  --opposite-color: hsl(0, 0%, 95%);
  --correct: hsl(115, 29%, 53%);
  --wrong-position: hsl(49, 51%, 57%);
  --wrong: hsl(200, 2%, 48%);
  --key: hsl(0, 0%, 85%);
  --border: hsl(0, 0%, 80%);
  --active: hsl(0, 0%, 55%);
  --key-hover: hsl(0, 0%, 80%);

  --correct-hover: hsl(115, 29%, 63%);
  --wrong-position-hover: hsl(49, 51%, 67%);
  --wrong-hover: hsl(200, 2%, 58%);

  --btn-neutral: hsl(0, 0%, 95%);
  --btn-game: hsl(0, 52%, 48%);
  --btn-online: hsl(93, 77%, 38%);
  --btn-offline: hsl(197, 89%, 26%);
  --btn-copy: hsl(0, 0%, 90%);

  --btn-copy-border: hsl(0, 0%, 77%);

  --btn-neutral-hover: hsl(0, 0%, 90%);
  --btn-game-hover: hsl(0, 52%, 58%);
  --btn-online-hover: hsl(93, 77%, 48%);
  --btn-offline-hover: hsl(197, 89%, 36%);
  --btn-copy-hover: hsl(0, 0%, 95%);

  --nickname: hsl(278, 37%, 69%);
  --challenge: hsl(12, 90%, 35%);
  --lobby-background: url(./assets/unsplashPastel.jpg);
  --lobby-vertical: 10%;

  --nickname-hover: brightness(110%);
  --header-hover: 65%;
}

html[data-theme="dark"] {
  --bg-main: hsl(240, 3%, 7%);
  --color: hsl(0, 0%, 95%);
  --color-secondary: hsl(0, 0%, 85%);
  --opposite-color: hsl(0, 0%, 95%);
  --correct: hsl(115, 29%, 43%);
  --wrong-position: hsl(49, 51%, 47%);
  --wrong: hsl(240, 5%, 25%);
  --key: hsl(200, 1%, 51%);
  --border: hsl(0, 0%, 20%);
  --active: hsl(0, 0%, 35%);
  --key-hover: hsl(0, 0%, 60%);

  --correct-hover: hsl(115, 29%, 53%);
  --wrong-position-hover: hsl(49, 51%, 57%);
  --wrong-hover: hsl(240, 5%, 35%);

  --btn-neutral: hsl(0, 0%, 85%);
  --btn-game: hsl(0, 52%, 40%);
  --btn-online: hsl(93, 77%, 30%);
  --btn-offline: hsl(197, 89%, 18%);
  --btn-copy: hsl(0, 0%, 20%);

  --btn-copy-border: hsl(0, 0%, 23%);

  --btn-neutral-hover: hsl(0, 0%, 90%);
  --btn-game-hover: hsl(0, 52%, 53%);
  --btn-online-hover: hsl(93, 77%, 40%);
  --btn-offline-hover: hsl(197, 89%, 28%);
  --btn-copy-hover: hsl(0, 0%, 30%);

  // --nickname: hsl(285, 30%, 68%);
  --nickname: hsl(40, 78%, 53%);
  --challenge: hsl(12, 90%, 40%);
  --dialog: hsl(240, 3%, 7%);

  --lobby-background: url(./assets/unsplashPastelDark.jpg);
  --lobby-vertical: 30%;

  --nickname-hover: brightness(112%);
  --header-hover: 85%;
}

// SCSS variables ($var) cannot be dynamically created, so we have to manually declare them
// after the corresponding CSS var that's been created in the html[data-theme] selector.

// We'll ultimately use the SCSS variables ($var) throughout the file.

// Main colors
$bg-main: var(--bg-main);
$color: var(--color);
$color-secondary: var(--color-secondary);
$opposite-color: var(--opposite-color);

// Game colors
$correct: var(--correct);
$wrong-position: var(--wrong-position);
$wrong: var(--wrong);
$key: var(--key);
$border: var(--border);
$active: var(--active);
$key-hover: var(--key-hover);

$correct-hover: var(--correct-hover);
$wrong-position-hover: var(--wrong-position-hover);
$wrong-hover: var(--wrong-hover);

// Button colors
$btn-neutral: var(--btn-neutral);
$btn-game: var(--btn-game);
$btn-online: var(--btn-online);
$btn-offline: var(--btn-offline);
$btn-copy: var(--btn-copy);

$btn-copy-border: var(--btn-copy-border);
$btn-neutral-hover: var(--btn-neutral-hover);
$btn-game-hover: var(--btn-game-hover);
$btn-online-hover: var(--btn-online-hover);
$btn-offline-hover: var(--btn-offline-hover);
$btn-copy-hover: var(--btn-copy-hover);

// Miscellaneous
$nickname: var(--nickname);
$challenge: var(--challenge);
$dialog: var(--dialog);

$lobby-background: var(--lobby-background);
$lobby-vertical: var(--lobby-vertical);

$nickname-hover: var(--nickname-hover);
$header-hover: var(--header-hover);

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1480px;

// These 100% heights aren't default values, must be placed in manually
html {
  height: 100%;
}

// Overwriting default body styles
body {
  height: 100%;

  margin: 0;
  cursor: default;
  overflow-x: hidden; // prevent Framer Motion scrollbar

  background-color: $bg-main;
  color: $color;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.route-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto; // just in case the content is too long
  // also this is 1 of 2 overflow-ys (the other one is in game container)
}

a {
  color: hsl(197, 100%, 40%);
  text-decoration: none;
}

.nickname-form {
  display: flex;
  color: $nickname;
  background-color: transparent;
  text-align: center;
  border: none;
  outline: none;
  font: inherit;
  cursor: default;
  font-family: Lobster;
  font-size: 3.5rem;
  text-decoration: underline dotted;
  text-underline-offset: 0.5rem;

  &:hover {
    filter: $nickname-hover;
  }

  &__pencil {
    font-size: 2rem;
    stroke-width: 0.11rem;
  }
}

// Dialog
.dialog {
  // Centering
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  border: none;
  background-color: $bg-main;
  color: $color;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05), 0 0 10px 4px rgba(0, 0, 0, 0.05),
    0 0 15px 6px rgba(0, 0, 0, 0.05), 0 0 20px 8px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  max-width: 30rem;
  z-index: 9;

  &__right {
    display: flex;
    justify-content: flex-end;
  }

  &__btn--close {
    width: 1.4rem;
    height: 1.4rem;

    cursor: pointer;
  }

  &__first-time {
    @extend .dialog;
    max-width: 25rem;
  }

  &__info {
    @extend .dialog;
  }
}
// Header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.8rem; // shorthand for left and right padding

  &__left {
    display: flex;
    width: 3rem;
    height: 3rem;
    cursor: pointer;

    gap: 0.5rem;

    &:hover {
      opacity: $header-hover;
      transition-duration: 0.1s;
    }

    &:active {
      transform: scale(0.97);
    }
  }

  &__right {
    display: flex;
  }

  &__svg {
    width: 2rem;
    height: 2rem;
    padding: 0.25rem;

    cursor: pointer;

    &:hover {
      opacity: $header-hover;
      transition-duration: 0.1s;
    }

    &:active {
      transform: scale(0.75);
    }
  }

  &__svg--flipping {
    @extend .header__svg;

    &:active {
      transform: scaleX(-1);
    }
  }
}

// Logo
.logo {
  &__wordmark {
    align-self: center;
    font-size: 2rem;
    font-family: "Lobster", serif;
  }

  &__wordmark--left {
    color: $color;
  }

  &__wordmark--right {
    color: $color-secondary;
  }
}

.outer-container {
  display: flex;
  justify-content: center;
  // align-items: center;
  font-size: 1.3rem;
  // border: solid 3px black;
}

.inner-container {
  display: flex;
  // display: inline-flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  // border: solid 2px black;
  min-width: 30rem;
  box-shadow: 0.75rem 0.75rem 1rem hsl(0deg 0% 0% / 0.15);
  flex-basis: content;
  padding-inline: 5rem;
  // padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 2rem;

  background-image: $lobby-background;
  background-repeat: repeat-x;

  // unsplashMountains
  background-position: 0px $lobby-vertical;
  animation: slide 40s linear infinite;

  position: relative;

  &__countdown {
    position: absolute;
    top: -2rem;
    right: -1rem;
    font-size: 4rem;
    font-family: "Roboto Slab";
    align-self: flex-end;
  }
}

@keyframes slide {
  to {
    background-position: -1920px $lobby-vertical;
  }
}

.socket-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-block: 2rem;
  border: 2px dashed hsl(0, 0%, 60%);
  padding-inline: 5rem;
  padding-block: 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Roboto";
  gap: 0.5rem;

  position: relative;
}

.socket-info {
  display: flex;
  min-width: 12rem;
  justify-content: space-between;
  align-items: center;

  font-weight: 600;
  font-family: "Roboto Slab";
}

.socket-info--left {
  display: flex;
  justify-self: flex-start;
  margin-right: auto;
}

.socket-info--right {
  display: flex;
  justify-self: flex-end;
  margin-left: auto;
}

// Menu
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 15rem;
    height: 5rem;

    font-weight: 300;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;

    color: white;
    border-radius: 2rem;
    cursor: pointer;

    &:active {
      width: 17.5rem;
      transition-timing-function: ease-out;
    }

    &:hover {
      transition-duration: 0.1s;
      transition-timing-function: ease-in;
    }
  }

  &__btn--online {
    @extend .menu__btn;

    background-color: $btn-online;
    border: 3px solid hsl(93, 77%, 35%);

    &:hover {
      background-color: $btn-online-hover;
      border: 3px solid $btn-online-hover;
    }
  }

  &__btn--offline {
    @extend .menu__btn;

    background-color: $btn-offline;
    border: 3px solid hsl(197, 89%, 23%);

    &:hover {
      background-color: $btn-offline-hover;
      border: 3px solid $btn-offline-hover;
    }
  }

  &__btn--new-game {
    @extend .menu__btn;

    flex-direction: row;

    width: 10rem;
    height: 2.5rem;
    font-size: 1.3rem;
    line-height: 1.2rem;

    background-color: $btn-game;

    border: 3px solid hsl(0, 52%, 45%);
    border-radius: 2rem;
    cursor: pointer;

    &:active {
      transform: scale(0.95);
      width: 10rem;
      transition-timing-function: ease-out;
    }

    &:hover {
      background-color: $btn-game-hover;
      border: 3px solid $btn-game-hover;
    }

    &--hidden {
      @extend .menu__btn--new-game;
      visibility: hidden;
    }
  }

  &__btn--copy {
    @extend .menu__btn--new-game;

    color: $color;
    background-color: $btn-copy;
    border: 3px solid $btn-copy-border;
    font-weight: 400;

    &:hover {
      background-color: $btn-copy-hover;
      border: 3px solid $btn-copy-hover;
    }
  }

  &__btn--back {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: $btn-neutral;
    border: 2px solid hsl(0, 0%, 50%);

    border-radius: 1rem;
    cursor: pointer;

    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    color: black;

    &:active {
      background-color: hsl(0, 0%, 40%);
    }

    &:hover {
      background-color: $btn-neutral-hover;
      transition-duration: 0.1s;
      transition-timing-function: ease-in;
    }
  }

  &__btn--cancel {
    border: 1px solid black;
    border-radius: 0.3rem;
    padding-inline: 0.5rem;
    padding-block: 0.15rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

.alert {
  position: fixed;
  top: 28.74vh; // slots right in between the guesses
  z-index: 1;

  padding-inline: 1rem;
  padding-block: 0.6rem;
  background-color: hsl(0, 0%, 10%, 90%);

  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  opacity: 1;
}

// TODO: can't get it to fade...
.alert--hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.game-container {
  // Sudep
  // min-height: 500px;
  flex: 1;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 1rem;
}

.countdown-timer {
  position: fixed;
  top: 26.1vh;
}

.boards-container {
  display: flex;
  flex-direction: row;
}

// Game
.game-board {
  display: flex;
  flex-direction: column;
  // align-items: center;
  gap: 0.35rem;

  padding: 1rem;
  font-weight: 600;

  &--game-over {
    @extend .game-board;
    opacity: 60%;
  }
}

.guess {
  display: flex;
  gap: 0.35rem;

  &__tile {
    // Shared styles between sizes
    color: $color;
    font-weight: bold;

    // Smallest of the small
    @include box(2.5rem, 2.5rem);
    border: 2px solid $border;

    font-size: 1.25rem;

    // Increasingly larger
    @media (min-width: $breakpoint-sm) {
      @include box(3.5rem, 3.5rem);

      font-size: 1.55rem;
    }

    @media (min-width: $breakpoint-lg) {
      // @include box(5rem, 5rem);

      font-size: 1.85rem;
    }

    &--active {
      @extend .guess__tile;
      border-color: $active;
    }

    &--correct {
      @extend .guess__tile;
      color: white;
      border-color: $correct;
      background-color: $correct;
    }

    &--wrong-position {
      @extend .guess__tile;
      color: white;
      border-color: $wrong-position;
      background-color: $wrong-position;
    }

    &--wrong {
      @extend .guess__tile;
      color: white;
      border-color: $wrong;
      background-color: $wrong;
    }
  }
}

// Keyboard
.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.45rem;

  &__row {
    display: flex;
    gap: 0.45rem;
  }

  &__key {
    @include box(2.5rem, 3.5rem);

    color: $color;
    cursor: pointer;

    background-color: $key;
    border: none;
    border-radius: 0.25em;
    font-weight: bold;
    font-size: 1.2em;

    &:hover {
      background-color: $key-hover;
      transition-duration: 0.1s;
      transition-timing-function: ease-in;
    }

    &--correct {
      @extend .keyboard__key;
      color: $opposite-color;
      border-color: $correct;
      background-color: $correct;

      &:hover {
        background-color: $correct-hover;
      }
    }

    &--wrong-position {
      @extend .keyboard__key;
      color: $opposite-color;
      border-color: $wrong-position;
      background-color: $wrong-position;

      &:hover {
        background-color: $wrong-position-hover;
      }
    }

    &--wrong {
      @extend .keyboard__key;
      color: $opposite-color;
      border-color: $wrong;
      background-color: $wrong;

      &:hover {
        background-color: $wrong-hover;
      }
    }

    &--large {
      @extend .keyboard__key;
      width: 4rem;
      font-size: 0.75rem;
      font-weight: 500;

      &--svg {
        @extend .keyboard__key--large;
        font-size: 1.5rem;
      }
    }
  }
}

.challenge {
  &__checkbox {
    accent-color: $challenge;

    &:hover {
      accent-color: hsl(12, 90%, 50%);
    }
  }

  &__tooltip {
    opacity: 95%;
    border-radius: 0.25rem;
    padding: 0;
    background-color: $color;
    color: $bg-main;
  }
}

.waiting-message {
  font-family: "Suwannaphum";
  mix-blend-mode: overlay;
}

// @media (max-width: 360px) {
//   body {
//     background-color: lightblue;
//   }
//   .keyboard {
//     width: clamp(200px, 50%, 600px);
//   }
// }
