html,
html[data-theme="light"] {
  --bg-main: hsl(0, 0%, 100%);
  --color: hsl(240, 3%, 7%);
  --color-secondary: hsl(240, 3%, 37%);

  --correct: hsl(115, 29%, 53%);
  --wrong-position: hsl(49, 51%, 57%);
  --wrong: hsl(200, 2%, 48%);
  --key: hsl(0, 0%, 85%);
  --active: hsl(0, 0%, 55%);
  --border: hsl(0, 0%, 80%);

  --correct-hover: hsl(115, 29%, 63%);
  --wrong-position-hover: hsl(49, 51%, 67%);
  --wrong-hover: hsl(200, 2%, 58%);
  --key-hover: hsl(0, 0%, 80%);

  --btn-online: hsl(93, 77%, 38%);
  --btn-offline: hsl(197, 89%, 26%);
  --btn-game: hsl(0, 52%, 48%);
  --btn-copy: hsl(0, 0%, 90%);
  --btn-neutral: hsl(0, 0%, 95%);

  --btn-copy-border: hsl(0, 0%, 77%);

  --btn-online-hover: hsl(93, 77%, 48%);
  --btn-offline-hover: hsl(197, 89%, 36%);
  --btn-game-hover: hsl(0, 52%, 58%);
  --btn-copy-hover: hsl(0, 0%, 95%);
  --btn-neutral-hover: hsl(0, 0%, 90%);

  --challenge: hsl(12, 90%, 35%);
  --username: hsl(278, 37%, 69%);
  --username-hover: brightness(110%);
  --header-hover: 65%;
  --waiting-room-background: url(./assets/waiting_room.jpg);
  --waiting-room-vertical: 10%;
}

html,
html[data-theme="dark"] {
  --bg-main: hsl(240, 3%, 7%);
  --color: hsl(0, 0%, 95%);
  --color-secondary: hsl(0, 0%, 85%);

  --correct: hsl(115, 29%, 43%);
  --wrong-position: hsl(49, 51%, 47%);
  --wrong: hsl(240, 5%, 25%);
  --key: hsl(200, 1%, 51%);
  --active: hsl(0, 0%, 35%);
  --border: hsl(0, 0%, 20%);

  --correct-hover: hsl(115, 29%, 53%);
  --wrong-position-hover: hsl(49, 51%, 57%);
  --wrong-hover: hsl(240, 5%, 35%);
  --key-hover: hsl(0, 0%, 60%);

  --btn-online: hsl(93, 77%, 30%);
  --btn-offline: hsl(197, 89%, 18%);
  --btn-game: hsl(0, 52%, 40%);
  --btn-copy: hsl(0, 0%, 20%);
  --btn-neutral: hsl(0, 0%, 85%);

  --btn-copy-border: hsl(0, 0%, 23%);

  --btn-online-hover: hsl(93, 77%, 40%);
  --btn-offline-hover: hsl(197, 89%, 28%);
  --btn-game-hover: hsl(0, 52%, 53%);
  --btn-copy-hover: hsl(0, 0%, 30%);
  --btn-neutral-hover: hsl(0, 0%, 90%);

  --challenge: hsl(12, 90%, 40%);
  --username: hsl(40, 78%, 53%);
  --username-hover: brightness(112%);
  --header-hover: 85%;
  --waiting-room-background: url(./assets/waiting_room_dark.jpg);
  --waiting-room-vertical: 30%;
}

// Main colors
$bg-main: var(--bg-main);
$color: var(--color);
$color-secondary: var(--color-secondary);

// Game colors
$correct: var(--correct);
$wrong-position: var(--wrong-position);
$wrong: var(--wrong);
$active: var(--active);
$key: var(--key);
$border: var(--border);

$correct-hover: var(--correct-hover);
$wrong-position-hover: var(--wrong-position-hover);
$wrong-hover: var(--wrong-hover);
$key-hover: var(--key-hover);

// Button colors
$btn-online: var(--btn-online);
$btn-offline: var(--btn-offline);
$btn-game: var(--btn-game);
$btn-copy: var(--btn-copy);
$btn-neutral: var(--btn-neutral);

$btn-copy-border: var(--btn-copy-border);

$btn-online-hover: var(--btn-online-hover);
$btn-offline-hover: var(--btn-offline-hover);
$btn-game-hover: var(--btn-game-hover);
$btn-copy-hover: var(--btn-copy-hover);
$btn-neutral-hover: var(--btn-neutral-hover);

// Miscellaneous
$challenge: var(--challenge);
$username: var(--username);
$username-hover: var(--username-hover);
$header-hover: var(--header-hover);
$waiting-room-background: var(--waiting-room-background);
$waiting-room-vertical: var(--waiting-room-vertical);

// Overwrite default values, allows navbar to be flush with page
body {
  margin: 0;
  background-color: $bg-main;
  color: $color;
}

a {
  color: hsl(197, 100%, 40%);
  text-decoration: none;
}

:root {
  font-family: "Roboto", sans-serif;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; // prevent scrolling on mobile
}

$cell-size: 2rem;
$cell-padding: 0.5rem;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.3rem;

  border-bottom: 1px solid $border;

  &__left {
    display: flex;
    width: 2.75rem;
    height: 2.75rem;
    gap: 0.5rem;
    cursor: pointer;

    &:hover {
      opacity: $header-hover;
      transition-duration: 0.1s;
    }

    &:active {
      transform: scale(0.97);
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding-inline-end: 1rem;
  }

  &__info {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;

    &:hover {
      opacity: $header-hover;
      transition-duration: 0.1s;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__color-theme {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;

    &:hover {
      opacity: $header-hover;
      transition-duration: 0.1s;
    }

    &:active {
      transform: scale(0.9);
    }

    &.dark {
      transform: rotateY(180deg);
    }
  }
}

.logo {
  display: flex;
  gap: 0.5rem;

  &__wordmark {
    align-self: center;
    font-size: 1.85rem;
    font-family: "Lobster", serif;
  }

  &__wordmark--left {
    color: $color;
  }

  &__wordmark--right {
    color: $color-secondary;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 15rem;
    height: 5rem;

    font-weight: 300;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;

    color: white;
    border-radius: 2rem;
    cursor: pointer;

    &:active {
      width: 17.5rem;
      transition-timing-function: ease-out;
    }

    &:hover {
      transition-duration: 0.1s;
      transition-timing-function: ease-in;
    }
  }

  &__btn--online {
    @extend .menu__btn;

    background-color: $btn-online;
    border: 3px solid hsl(93, 77%, 35%);

    &:hover {
      background-color: $btn-online-hover;
      border: 3px solid $btn-online-hover;
    }
  }

  &__btn--offline {
    @extend .menu__btn;

    background-color: $btn-offline;
    border: 3px solid hsl(197, 89%, 23%);

    &:hover {
      background-color: $btn-offline-hover;
      border: 3px solid $btn-offline-hover;
    }
  }

  &__btn--start-game {
    @extend .menu__btn;
    flex-direction: row;

    width: 10rem;
    height: 2.5rem;
    font-size: 1.3rem;

    background-color: $btn-game;

    border: 3px solid hsl(0, 52%, 45%);
    border-radius: 2rem;
    cursor: pointer;

    &:active {
      transform: scale(0.95);
      width: 10rem;
      transition-timing-function: ease-out;
    }

    &:hover {
      background-color: $btn-game-hover;
      border: 3px solid $btn-game-hover;
    }
  }

  &__btn--copy {
    @extend .menu__btn--start-game;

    color: $color;
    background-color: $btn-copy;
    border: 3px solid $btn-copy-border;
    font-weight: 400;

    &:hover {
      background-color: $btn-copy-hover;
      border: 3px solid $btn-copy-hover;
    }

    &:active {
      font-size: 1.2rem;
    }
  }

  &__btn--new-game {
    @extend .menu__btn--start-game;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
  }

  &__btn--back {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: $btn-neutral;
    border: 2px solid hsl(0, 0%, 50%);

    border-radius: 1rem;
    cursor: pointer;

    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    color: black;

    &:active {
      background-color: hsl(0, 0%, 40%);
    }

    &:hover {
      background-color: $btn-neutral-hover;
      transition-duration: 0.1s;
      transition-timing-function: ease-in;
    }
  }

  &__btn--cancel {
    border: 1px solid black;
    border-radius: 0.3rem;
    padding-inline: 0.5rem;
    padding-block: 0.15rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Calistoga";
  font-size: 3.5rem;
  line-height: 0.8;
  margin-block: 2rem;
}

.username-line {
  display: flex;
  flex-direction: row;
  line-height: 1.28;
}

.username-form {
  display: flex;
  color: $username;
  background-color: transparent;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Lobster";
  font-size: 3.5rem;
  text-decoration: underline dotted;
  text-underline-offset: 0.5rem;

  &:hover {
    filter: $username-hover;
  }

  &__pencil {
    font-size: 2rem;
    stroke-width: 0.11rem;
    cursor: pointer;
  }
}

.hidden-span {
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
  font-family: "Lobster";
  font-size: 3.5rem;
}

.challenge {
  &__checkbox {
    accent-color: $challenge;

    &:hover {
      accent-color: hsl(12, 90%, 50%);
    }
  }
}

.game-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.round-counter {
  position: absolute;
  top: -0.5rem;
  right: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.boards-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.game-board {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  &--game-over {
    @extend .game-board;
    opacity: 60%;
  }

  &__row {
    @extend .game-board;
    flex-direction: row;
  }

  &__cell {
    display: flex;
    justify-content: center;
    align-items: center;

    width: $cell-size;
    height: $cell-size;
    font-size: $cell-size;
    font-weight: bold;
    border: 2px solid $border;
    padding: $cell-padding;

    &--green {
      @extend .game-board__cell;
      color: white;
      border-color: $correct;
      background-color: $correct;
    }

    &--yellow {
      @extend .game-board__cell;
      color: white;
      border-color: $wrong-position;
      background-color: $wrong-position;
    }

    &--grey {
      @extend .game-board__cell;
      color: white;
      border-color: $wrong;
      background-color: $wrong;
    }

    &--active {
      @extend .game-board__cell;
      color: $color;
      border-color: $active;
    }
  }
}

.game-board-info {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.45rem;

  padding-block: 0.5rem;

  &__row {
    display: flex;
    gap: 0.45rem;
  }

  &__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 4rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: $color;
    background-color: $key;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;

    &:hover {
      background-color: $key-hover;
      transition-duration: 0.1s;
      transition-timing-function: ease-in;
    }

    &--green {
      @extend .keyboard__cell;
      color: white;
      border-color: $correct;
      background-color: $correct;

      &:hover {
        background-color: $correct-hover;
      }
    }

    &--yellow {
      @extend .keyboard__cell;
      color: white;
      border-color: $wrong-position;
      background-color: $wrong-position;

      &:hover {
        background-color: $wrong-position-hover;
      }
    }

    &--grey {
      @extend .keyboard__cell;
      color: white;
      border-color: $wrong;
      background-color: $wrong;

      &:hover {
        background-color: $wrong-hover;
      }
    }

    &--large {
      @extend .keyboard__cell;
      width: 4rem;
      font-size: 0.8rem;
      font-weight: 500;

      &--icon {
        @extend .keyboard__cell--large;
        font-size: 1.5rem;
      }
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  &.display {
    display: block;
  }

  &.hide {
    display: none;
  }
}

.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;

  font-size: 0.9rem;
  padding-bottom: 1rem;
  font-weight: 500;

  &__close {
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
  }
}

.alert-modal {
  position: fixed;

  z-index: 1;
  padding-inline: 1rem;
  padding-block: 0.6rem;
  background-color: hsl(0, 0%, 10%, 90%);

  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;

  opacity: 1;

  &.hide {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }

  &__game {
    @extend .alert-modal;
    top: 8vh;
  }

  &__lobby {
    @extend .alert-modal;
    top: 50vh;
  }
}

.countdown-timer {
  position: absolute;
  top: 10vh;
  z-index: 1;
  font-size: 1.2rem;
}

.waiting-room-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border-radius: 2rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: $waiting-room-background;
    background-repeat: repeat-x;
    background-position: 0 $waiting-room-vertical;
    animation: slide 45s linear infinite;
  }

  @keyframes slide {
    to {
      background-position: -1920px $waiting-room-vertical;
    }
  }

  .lobby-countdown-timer {
    position: absolute;

    top: -4.5rem;
    right: 0.5rem;
    font-size: 4rem;
    font-family: "Roboto Slab";
    align-self: flex-end;
  }

  .waiting-room-user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto Slab";
    font-size: 1.1rem;
    font-weight: 600;
    margin: 1.5rem;
    gap: 1rem 10rem;
    border: 2px dashed hsl(0, 0%, 60%);
    padding-inline: 5rem;
    padding-block: 2rem;

    &--1,
    &--2 {
      @extend .waiting-room-user-info;
    }

    &--3,
    &--4 {
      @extend .waiting-room-user-info;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .non-host-waiting-message {
    font-family: "Roboto Slab";
    font-size: 0.9rem;
    font-weight: 500;
  }

  .waiting-message {
    font-family: "Suwannaphum";
    font-size: 2.5rem;
    mix-blend-mode: overlay;
  }
}

.post-game-message {
  position: absolute;
  top: 10px;
  padding-inline: 1rem;
  padding-block: 0.6rem;

  font-size: 1rem;

  background-color: hsl(0, 0%, 10%, 90%);
  color: white;
  border-radius: 0.75rem;
}

.streak {
  &--0 {
    opacity: 20%;
  }
  &--1-3 {
    opacity: 50%;
  }
  &--4-6 {
    opacity: 70%;
  }
  &--7-9 {
    opacity: 100%;
    transform: scale(1.2);
  }
  &--10 {
    opacity: 100%;
    transform: scale(1.3);
  }
}
