@mixin phone-styles-divider {
  .divider {
    font-size: 2.4dvh;
  }
}

.divider {
  display: flex;
  align-items: center;
  width: 100%;
  opacity: 60%;

  font-weight: 100;
  font-size: 1.4rem;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid hsl(0, 0%, 67%);
}

.divider::before {
  margin-right: 0.5em;
}

.divider::after {
  margin-left: 0.5em;
}
