// Horizontal width of user board should line up with horizontal width of (2 compressed boards + gap)
// Width of user board:
// 5x $phone-user-cell-size = 68vw
// 4x $phone-user-cell-gap = 2vw
// total width: 70vw
// Compressed board gap ($phone-others-board-gap): 5vw (horizontally)
// Width of each compressed board should be 32.5vw (32.5*2 + 5 = 70vw)

// Styles for main game boards (the users board)

// Cell sizes
$desktop-cell-size: 3rem;
$desktop-small-cell-size: 2rem;

$phone-user-cell-size: 13.6vw;
$phone-offline-cell-size: 15.6vw;

// Border
$desktop-cell-border: 2px solid;

$phone-user-cell-border: 0.8vw solid;

// Cell gap
$desktop-cell-gap: 0.25rem;

$phone-user-cell-gap: 0.5vw;

// Font sizes
$desktop-cell-font-size: 2rem;
$desktop-others-cell-font-size: 1.2rem;
$desktop-user-info-font-size: 1rem;

$phone-user-font-size: 8vw;
$phone-user-info-font-size: 4vw;
$phone-user-crown-size: 3.5vw;

// Max width
$desktop-user-info-max-width: 13rem;
$desktop-others-info-max-width: 8.5rem;

$phone-user-info-max-width: 60vw;

// Gap between user board and other boards
$desktop-board-gap: 1.5rem;

$phone-board-gap: 0.2rem;

// Styles for other boards

// Common styles

// 1v1 specific styles
$phone-other-cell-size: 14vw;
$phone-other-cell-font-size: 8vw;
$phone-other-info-font-size: 3vw;

// 1vX specific styles
$phone-others-cell-size: 6.5vw;
$phone-others-cell-font-size: 4vw;
$phone-others-info-font-size: 2.6vw;
$phone-others-info-max-width: 26vw;
$phone-others-crown-size: 2.3vw;

$phone-others-board-gap: 0vw 5vw;
$phone-margin-inline: 15vw;

$desktop-others-crown-size: 0.7rem;

// Miscellaneous styles
$countdown-timer-placement: 35vh;
$countdown-timer-font-size: 5.75vw;

$desktop-private-room-info-margin-bottom: 1rem;

$phone-private-room-info-width: 96vw;
$phone-private-room-info-margin-bottom: 0;

@mixin phone-styles-game-board {
  .game-board {
    gap: $phone-user-cell-gap;
  }
  .offline-board {
    .game-board__cell {
      width: $phone-offline-cell-size;
      height: $phone-offline-cell-size;
    }
  }
  .game-board__cell {
    width: $phone-user-cell-size;
    height: $phone-user-cell-size;
    border: $phone-user-cell-border $border;
    font-size: $phone-user-font-size;

    &--green {
      @extend .game-board__cell;
      color: white;
      border-color: $correct;
      background-color: $correct;
    }

    &--yellow {
      @extend .game-board__cell;
      color: white;
      border-color: $wrong-position;
      background-color: $wrong-position;
    }

    &--grey {
      @extend .game-board__cell;
      color: white;
      border-color: $wrong;
      background-color: $wrong;
    }

    &--active {
      @extend .game-board__cell;
      color: $color;
      border-color: $active;
    }
  }

  .boards-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: $phone-board-gap;
  }

  .user-board {
    flex: 1;
  }

  .other-boards {
    flex: 1;
    align-items: start;

    .compressed-game-board__cell {
      width: $phone-other-cell-size;
      height: $phone-other-cell-size;
      font-size: $phone-other-cell-font-size;
    }

    .compressed-game-board-info {
      font-size: $phone-user-info-font-size;
      font-weight: bold;
      display: flex;

      .compressed-game-board-username {
        max-width: $phone-user-info-max-width;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .compressed-game-board-crown {
        font-size: $phone-user-crown-size;
      }
    }

    &.spec {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      gap: 0;
    }
  }

  .other-boards--grid {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
    grid-auto-flow: row;
    gap: $phone-others-board-gap;
    margin-inline: $phone-margin-inline;
  }

  .compressed-game-board__cell {
    width: $phone-others-cell-size;
    height: $phone-others-cell-size;
  }

  .compressed-game-board-info {
    font-size: $phone-others-info-font-size;
    font-weight: bold;
    display: flex;

    .compressed-game-board-username {
      max-width: $phone-others-info-max-width;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .compressed-game-board-crown {
      font-size: $phone-others-crown-size;
    }
  }

  .game-board-info {
    font-size: $phone-user-info-font-size;
    font-weight: bold;
    display: flex;

    .game-board-username {
      max-width: $phone-user-info-max-width;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .game-board-crown {
      font-size: $phone-user-crown-size;
    }
  }

  .countdown-timer {
    top: $countdown-timer-placement;
    font-size: $countdown-timer-font-size;
  }

  .private-room-info {
    width: $phone-private-room-info-width;
    margin-bottom: $phone-private-room-info-margin-bottom;
  }
}

// Default styles (desktop for now)

@keyframes flashAnimation {
  0%,
  100% {
    background-color: rgba(255, 0, 0, 0.3);
  }
  20%,
  80% {
    background-color: transparent;
  }
}

.upper-game-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.upper-game-container--spec {
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: center;

  .other-boards {
    gap: 2rem;
  }

  .other-boards--grid {
    align-items: center;
  }
}

.lower-game-container {
  display: flex;
  justify-content: center;

  &--spec {
    @extend .lower-game-container;
    flex: 1;
  }
}

.boards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: $desktop-board-gap;
}

.offline-board {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.user-board {
  display: flex;
  justify-content: center;
  align-items: center;
}

.other-boards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.other-boards--grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  gap: 1rem;
}

.game-board {
  display: flex;
  flex-direction: column;
  gap: $desktop-cell-gap;

  &--game-over {
    @extend .game-board;
    opacity: 60%;
  }

  &--solved {
    @extend .game-board;
    opacity: 60%;
  }

  &--unsolved {
    @extend .game-board;
    opacity: 50%;
  }

  &__row {
    @extend .game-board;
    flex-direction: row;
  }

  &__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: $desktop-cell-size;
    height: $desktop-cell-size;
    font-size: $desktop-cell-font-size;
    font-weight: 600;
    border: $desktop-cell-border $border;

    &.last-guess::before {
      content: "";
      width: 100%;
      height: 100%;
      animation: flashAnimation 3.5s infinite;
    }

    &--green,
    &--yellow,
    &--grey {
      @extend .game-board__cell;
      color: white;
      border: none;

      &.last-guess::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: overlay;
        animation: flashAnimation 3.5s infinite;
      }
    }

    &--green {
      background-color: $correct;
    }

    &--yellow {
      background-color: $wrong-position;
    }

    &--grey {
      background-color: $wrong;
    }

    &--active {
      @extend .game-board__cell;
      color: $color;
      border-color: $active;
    }

    &--dialog {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 2rem;
      height: 2rem;

      font-size: 1.5rem;
      font-weight: 600;
      color: $color;

      border: 2px solid $border;

      &--green,
      &--yellow,
      &--grey {
        @extend .game-board__cell--dialog;
        border: none;
      }

      &--green {
        background-color: $correct;
      }

      &--yellow {
        background-color: $wrong-position;
      }

      &--grey {
        background-color: $wrong;
      }
    }
  }
}

.small-game-board {
  display: flex;
  flex-direction: column;
  gap: $desktop-cell-gap;

  &--game-over {
    @extend .small-game-board;
    opacity: 60%;
  }

  &--solved {
    @extend .small-game-board;
    opacity: 60%;
  }

  &--unsolved {
    @extend .small-game-board;
    opacity: 50%;
  }

  &__row {
    @extend .small-game-board;
    flex-direction: row;
  }

  &__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: $desktop-small-cell-size;
    height: $desktop-small-cell-size;
    font-size: $desktop-others-cell-font-size;
    font-weight: 500;
    border: $desktop-cell-border $border;

    &.last-guess::before {
      content: "";
      width: 100%;
      height: 100%;
      animation: flashAnimation 3.5s infinite;
    }

    &--green,
    &--yellow,
    &--grey {
      @extend .small-game-board__cell;
      color: white;
      border: none;

      &.last-guess::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: overlay;
        animation: flashAnimation 3.5s infinite;
      }
    }

    &--green {
      background-color: $correct;
    }

    &--yellow {
      background-color: $wrong-position;
    }

    &--grey {
      background-color: $wrong;
    }

    &--active {
      @extend .small-game-board__cell;
      color: $color;
      border-color: $active;
    }
  }
}

.compressed-game-board {
  display: flex;
  flex-direction: column;

  &--game-over {
    @extend .compressed-game-board;
    opacity: 60%;
  }

  &--solved {
    opacity: 70%;
  }

  &--unsolved {
    opacity: 50%;
  }

  &__row {
    @extend .compressed-game-board;
    flex-direction: row;
  }

  &__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    font-size: $phone-others-cell-font-size;
    font-weight: 500;

    &--empty {
      @extend .compressed-game-board__cell;
      background-color: $border;
    }

    &--green,
    &--yellow,
    &--grey {
      @extend .compressed-game-board__cell;
      color: white;
      border: none;

      &.last-guess::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: overlay;
        animation: flashAnimation 3.5s infinite;
      }
    }

    &--green {
      background-color: $correct;
    }

    &--yellow {
      background-color: $wrong-position;
    }

    &--grey {
      background-color: $wrong;
    }
  }
}

.game-board-info {
  font-size: $desktop-user-info-font-size;
  font-weight: bold;
  display: flex;

  .game-board-username {
    max-width: $desktop-user-info-max-width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .game-board-crown {
    font-size: $desktop-others-crown-size;
  }
}

.small-game-board-info {
  font-size: $desktop-user-info-font-size;
  font-weight: bold;
  display: flex;

  .small-game-board-username {
    max-width: $desktop-others-info-max-width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .small-game-board-crown {
    font-size: $desktop-others-crown-size;
  }
}

.countdown-timer {
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 1.5rem;
}

.private-room-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 0.2vh;
  margin-bottom: $desktop-private-room-info-margin-bottom;
}

.spectator-message {
  font-family: "Roboto Slab";
  font-size: 1.5rem;
  font-weight: 500;
}

.hidden-periods {
  visibility: hidden;
}
