@mixin phone-styles-keyboard {
  .keyboard__row {
    gap: 1vw;
  }
  .keyboard__cell {
    width: 9vw;
    height: 7.25dvh;
    font-size: 1rem;

    &--large {
      @extend .keyboard__cell;
      width: 14vw;
      font-size: 0.6rem;

      &--icon {
        @extend .keyboard__cell--large;
        font-size: 1.2rem;
      }
    }
  }
  .keyboard {
    .post-game-buttons {
      .show-scoreboard-btn {
        width: 5dvh;
        height: 5dvh;
        font-size: 3dvh;
      }
    }
  }
}

.keyboard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.45rem;

  padding-block: 0.5rem;

  &__row {
    display: flex;
    gap: 0.5rem;
  }

  &__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 3.4rem;
    font-family: "Roboto";
    font-size: 1.1rem;
    font-weight: bold;
    color: $color;
    background-color: $key;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;

    &:hover {
      background-color: $key-hover;
      transition-duration: 0.1s;
      transition-timing-function: ease-in;
    }

    &--green {
      @extend .keyboard__cell;
      color: white;
      border-color: $correct;
      background-color: $correct;

      &:hover {
        background-color: $correct-hover;
      }
    }

    &--yellow {
      @extend .keyboard__cell;
      color: white;
      border-color: $wrong-position;
      background-color: $wrong-position;

      &:hover {
        background-color: $wrong-position-hover;
      }
    }

    &--grey {
      @extend .keyboard__cell;
      color: white;
      border-color: $wrong;
      background-color: $wrong;

      &:hover {
        background-color: $wrong-hover;
      }
    }

    &--eliminated {
      @extend .keyboard__cell;
      color: white;
      border-color: $wrong;
      background-color: $wrong;
      transition: background-color 2.5s ease;

      &:hover {
        background-color: $wrong-hover;
      }
    }

    &--large {
      @extend .keyboard__cell;
      width: 4rem;
      font-size: 0.8rem;
      font-weight: 500;

      &--icon {
        @extend .keyboard__cell--large;
        font-size: 1.5rem;
      }
    }
  }

  .post-game-buttons {
    display: flex;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 9;
    gap: 1rem;

    white-space: nowrap;

    .show-scoreboard-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      font-size: 2rem;
      border: 2px solid $color-secondary;
      background-color: $color;
      color: $bg-main;
      border-radius: 50%;
    }
  }
}
