// Overriding Mantine defaults with their Styles API.

// In other words, we can access the Mantine components'
// styles directly, and override them with our own.

@mixin phone-styles-mantine {
  // ================== MODAL ======================
  .mantine-Modal-content {
    font-size: 4.5vw;
    padding-inline: 0.5dvh;
  }
  .mantine-Modal-content {
    min-width: 100vw;
  }

  // ================== SEGMENTED CONTROL ======================
  .mantine-SegmentedControl-root {
    width: 92.5vw;
    max-width: 92.5vw;
  }
}

// ================== MODAL ======================
// (https://mantine.dev/core/modal/?t=styles-api)
.mantine-Modal-root {
}

.mantine-Modal-inner {
}

.mantine-Modal-content {
  min-width: 25rem;
  max-width: 35rem;

  background-color: $bg-main-dark;
  border-radius: 0.75rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05), 0 0 10px 4px rgba(0, 0, 0, 0.05),
    0 0 15px 6px rgba(0, 0, 0, 0.05), 0 0 20px 8px rgba(0, 0, 0, 0.05);
}

// i.e. the container that the close button resides in
.mantine-Modal-header {
  padding-top: 0.5rem;
  padding-right: 0.5rem;
}

.mantine-Modal-overlay {
  // No, opacity doesn't work.
  background-color: hsla(0, 0%, 0%, 0.4);
}

.mantine-Modal-title {
  font-family: "Calistoga";
  font-size: 1.5rem;
  font-weight: bold;

  margin-block: 0.2rem;
}

.mantine-Modal-body {
  padding: 2rem;
  padding-top: 0;
}

.mantine-Modal-close {
  width: 3rem;
  height: 3rem;
  color: $color-secondary;

  // Aria label for the close button
  &:focus {
    outline: 2px solid $display-name;
  }
}

// ================== SEGMENTED CONTROL ======================
// (https://mantine.dev/core/segmented-control/?t=styles-api)

.mantine-SegmentedControl-root {
  $width-desktop: 50vw;

  width: $width-desktop;
  max-width: $width-desktop;

  background-color: $bg-main-dark;

  box-shadow: 0 0.0625rem 0.1875rem $stats-tabs-shadow,
    $stats-tabs-shadow 0 1.25rem 1.5625rem -0.3125rem,
    $stats-tabs-shadow 0 0.3125rem 0.625rem -0.3125rem;
}

.mantine-SegmentedControl-indicator {
  border-radius: 0.5rem;

  background-image: linear-gradient(
    to right,
    hsl(339, 76%, 59%),
    hsl(27, 98%, 54%)
  );
}

.mantine-SegmentedControl-control {
  &::before {
    display: none;
  }
}

.mantine-SegmentedControl-label {
  &,
  &:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.7rem;
    font-weight: 500;
    color: hsl(0, 0%, 50%);

    &[data-active] {
      color: hsl(0, 0%, 100%);
    }
  }
}
