$logo-size: 4.5vh;
$icon-size: 2.5vh;
$login-size: calc($icon-size * 4 / 3);
$login-font-size: 1.75vh;
$login-padding-inline: 3.5vw;

@mixin phone-styles-navbar {
  .navbar {
    &__left {
      width: $logo-size;
      height: $logo-size;
    }
    &__right {
      gap: 2vw;
    }

    &__info {
      width: $icon-size;
      height: $icon-size;
    }

    &__color-theme {
      width: $icon-size;
      height: $icon-size;
    }

    &__login {
      height: $login-size;
      font-size: $login-font-size;
      padding-inline: $login-padding-inline;
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.5rem;

  border-bottom: 1px solid $border;

  &__left {
    display: flex;
    width: 2.75rem;
    height: 2.75rem;
    gap: 0.5rem;
    cursor: pointer;

    &:hover {
      opacity: $header-hover;
      transition-duration: 0.1s;
    }

    &:active {
      transform: scale(0.97);
    }
  }

  &__right {
    display: flex;
    // justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }

  &__info {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;

    &:hover {
      opacity: $header-hover;
      transition-duration: 0.1s;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__color-theme {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;

    &:hover {
      opacity: $header-hover;
      transition-duration: 0.1s;
    }

    &:active {
      transform: scale(0.9);
    }

    &.dark {
      transform: rotateY(180deg);
    }
  }

  &__login {
    color: white;
    background-color: $username;

    font-family: "Roboto";
    font-weight: bold;
    font-size: 0.9rem;

    border: none;
    border-radius: 0.3rem;
    padding-inline: 1rem;

    height: 2rem;

    caret-color: transparent;

    &:hover {
      background-color: $username-hover;
      cursor: pointer;
      transition-duration: 0.1s;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__logout {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;

    &:hover {
      opacity: $header-hover;
      transition-duration: 0.1s;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.logo {
  display: flex;
  gap: 0.5rem;

  &__wordmark {
    font-size: 1.85rem;
    font-family: "Lobster", serif;
    align-self: center;
  }

  &__wordmark--left {
    color: $color;
  }

  &__wordmark--right {
    color: $color-secondary;
  }
}

.info-dialog {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  &.display {
    display: block;
  }

  &.hide {
    display: none;
  }
}

.info-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $color;
  background-color: $bg-main;
  padding: 20px;

  font-size: 0.9rem;
  padding-bottom: 1rem;
  font-weight: 500;

  &__close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    top: 0;
    right: 0;
    padding: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: $key-hover;
    }
  }
}
