$logo-size: 4.5dvh;
$icon-size: 3.25dvh;
$login-size: 3.5dvh;
$login-font-size: 1.75dvh;
$login-padding-inline: 3.5vw;

@mixin phone-styles-navbar {
  .navbar {
    &__right {
      gap: 4vw;
    }

    &__info {
      width: $icon-size;
      height: $icon-size;
    }

    &__color-theme {
      width: $icon-size;
      height: $icon-size;
    }

    &__login {
      height: $login-size;
      font-size: $login-font-size;
      padding-inline: $login-padding-inline;
    }
  }
  .logo {
    width: $logo-size;
    height: $logo-size;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.5rem;

  border-bottom: 1px solid $border;

  &__left {
    cursor: pointer;

    &:hover {
      opacity: $header-hover;
      transition-duration: 0.1s;
    }

    &:active {
      transform: scale(0.97);
    }
  }

  &__right {
    display: flex;
    // justify-content: flex-end;
    align-items: center;
    font-size: 1.75rem;
    gap: 1rem;
  }

  &__info {
    font-size: 1.5rem;

    cursor: pointer;

    &:hover {
      opacity: $header-hover;
      transition-duration: 0.1s;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__link {
    color: $color;
  }

  &__stats {
    display: flex;
    cursor: pointer;

    &:hover {
      opacity: $header-hover;
      transition-duration: 0.1s;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__color-theme {
    cursor: pointer;

    &:hover {
      opacity: $header-hover;
      transition-duration: 0.1s;
    }

    &:active {
      transform: scale(0.9);
    }

    &.dark {
      transform: rotateY(180deg);
    }
  }

  &__login {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: $username;

    font-family: "Roboto";
    font-weight: bold;
    font-size: 0.9rem;

    border: none;
    border-radius: 0.3rem;
    padding-inline: 1rem;

    height: 2rem;

    caret-color: transparent;

    &:hover {
      background-color: $username-hover;
      cursor: pointer;
      transition-duration: 0.1s;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__logout {
    cursor: pointer;

    &:hover {
      opacity: $header-hover;
      transition-duration: 0.1s;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.logo {
  display: flex;
  width: 2.75rem;
  height: 2.75rem;
  gap: 0.5rem;

  &__wordmark {
    font-size: 1.85rem;
    font-family: "Lobster", serif;
    align-self: center;
  }

  &__wordmark--left {
    color: $color;
  }

  &__wordmark--right {
    color: $color-secondary;
  }
}
