.postgame {
  &__scoreboard {
  }

  &__user {
    &--highlight {
      font-weight: 500;
      color: $username;
    }
  }

  &__stat {
    &--highlight {
      font-weight: 600;
      font-style: italic;
    }
  }
}
