// The $ratio uses the full, original SVG dimensions.

// To change the SVG size in this CSS file, you just need to
// change the width, and the height will follow the ratio.

@use "sass:math";
$ratio: math.div(508.83, 411);
$platinum-ratio: math.div(508.83, 791.64);

$stopwatch-width: 150px;
$stopwatch-height: $stopwatch-width * $ratio;

@mixin phone-styles-stats {
  $small-text: 1.9dvh;

  .stats {
    &__container {
      // Make the page stretch to the bottom.
      display: flex;
      flex: 1;
      justify-content: space-around;

      width: 92.5vw;

      margin-block: 1dvh;

      font-family: "Segoe UI";
    }

    &__header {
      line-height: 1.2;

      &--username {
        font-size: 5dvh;
      }

      &--title {
        font-size: 3.1dvh;
      }
    }

    &__stopwatch {
      font-size: 12.5dvh;
      font-weight: 500;
      line-height: 1;

      padding-top: 1dvh;
      padding-bottom: 1.75dvh;

      &--icon {
        gap: 1rem;
      }

      &--caption {
        font-family: "Segoe UI"; // TODO: I don't define this anywhere else... (Mantine default styles css...)
        font-size: $small-text;
        font-weight: 400;
        line-height: 0.5;
      }
    }

    &__total-games {
      $phone-games-size: 3dvh;

      display: flex;
      justify-content: center;
      align-items: center;

      font-size: $phone-games-size;
      font-weight: bolder;

      &--icon {
        display: flex;
        width: $phone-games-size;
        height: $phone-games-size;
      }

      &--total {
        display: flex;
        font-style: italic;
        opacity: 90%;
      }
    }

    &__game-stats {
      display: flex;
      flex-direction: row;
      width: 100%;

      justify-content: space-around;
      align-items: center;
    }

    &__game-info {
      display: flex;
      flex-direction: column;

      line-height: 1;
      gap: 1dvh;

      font-size: $small-text;

      &--wins {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--total {
          display: flex;

          font-size: 5dvh;
          font-weight: 800;
          font-style: italic;
          color: $wins;
          text-shadow: 0px 2px 0px $wins-shadow;
        }

        &--text {
          display: flex;
          align-items: center;
        }
      }

      &--solves {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--total {
          font-size: 5dvh;
          font-weight: 800;
          font-style: italic;
          color: $solves;
          text-shadow: 0px 2px 0px $solves-shadow;
        }

        &--text {
          display: flex;
          align-items: center;
        }
      }
    }

    &__game-mode {
      display: flex;
      flex-direction: row;
      align-items: center;

      line-height: 1;

      font-size: 12dvh;

      &--numbers {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 1dvh;
      }

      &--top {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--total {
          display: flex;

          font-size: 5dvh;
          font-weight: 800;
          font-style: italic;
          text-shadow: 0px 2px 0px $text-shadow;
        }

        &--text {
          display: flex;
          align-items: center;

          font-size: $small-text;
        }
      }

      &--bot {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--total {
          font-size: 5dvh;
          font-weight: 800;
          font-style: italic;
          text-shadow: 0px 2px 0px $text-shadow;
        }

        &--text {
          display: flex;
          align-items: center;

          font-size: $small-text;
        }
      }
    }

    &__guesses {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      width: 100%;

      &--misc {
        display: flex;
        flex-direction: column;
        gap: 1dvh;

        &--average,
        &--oog {
          display: flex;
          flex-direction: column;
          text-align: center;
        }

        &--title {
          font-family: "Segoe UI";
          font-size: $small-text;
          line-height: 1;
        }

        &--total {
          font-family: "Roboto";
          font-size: 4.3dvh;
          font-style: italic;
        }
      }
    }

    &__divider {
      &--label {
        color: $color-secondary;
        opacity: 70%;
        font-size: 2.5dvh;
      }
    }
  }

  .svg-stopwatch {
    $phone-stopwatch-width: 13dvh;
    $phone-stopwatch-height: $phone-stopwatch-width * $ratio;

    $phone-stopwatch-platinum-width: 25dvh;
    $phone-stopwatch-platinum-height: $phone-stopwatch-platinum-width *
      $platinum-ratio;

    width: $phone-stopwatch-width;
    height: $phone-stopwatch-height;

    &--platinum {
      width: $phone-stopwatch-platinum-width;
      height: $phone-stopwatch-platinum-height;
    }

    &__text {
      width: $phone-stopwatch-width;
      height: $phone-stopwatch-height;

      // Note: rem is more consistent than dvh here.
      font-size: 9rem;
      font-weight: 600;

      &--platinum {
        width: $phone-stopwatch-platinum-width;
        height: $phone-stopwatch-platinum-height;

        // Note: rem is more consistent than dvh here.
        font-size: 9rem;
        font-weight: 600;
      }
    }
  }

  .distribution {
    &__container {
      margin-top: 1dvh;
      font-size: $small-text;
    }
  }
}

// Large screens
.stats {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__tabs {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--username {
      font-size: 3rem;
      font-weight: 800;
    }

    &--title {
      font-size: 1.5rem;
      font-family: "Roboto Slab";
    }
  }

  &__stopwatch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "Roboto";

    &--icon {
      display: flex;
      flex-direction: row;

      align-items: center;
    }
  }

  &__games {
    display: flex;
  }
}

.svg-stopwatch {
  width: $stopwatch-width;
  height: $stopwatch-height;

  // Both stroke and fill are necessary for different parts of the SVG. (Stroke for lines, fill for isolated shapes.)
  &--bronze {
    @extend .svg-stopwatch;
    stroke: $stopwatch-bronze;
    fill: $stopwatch-bronze;
    filter: drop-shadow(
      0px $stopwatch-shadow-height 2px $stopwatch-bronze-shadow
    );
  }

  &--silver {
    @extend .svg-stopwatch;
    stroke: $stopwatch-silver;
    fill: $stopwatch-silver;
    filter: drop-shadow(
      0px $stopwatch-shadow-height 2px $stopwatch-silver-shadow
    );
  }

  &--gold {
    @extend .svg-stopwatch;
    stroke: $stopwatch-gold;
    fill: $stopwatch-gold;
    filter: drop-shadow(
      0px $stopwatch-shadow-height 2px $stopwatch-gold-shadow
    );
  }

  &--platinum {
    @extend .svg-stopwatch;
    stroke: $stopwatch-platinum;
    fill: $stopwatch-platinum;
    filter: drop-shadow(
      0px $stopwatch-shadow-height 2px $stopwatch-platinum-shadow
    );
  }

  &__text {
    width: $stopwatch-width;
    height: $stopwatch-height;

    font-family: "Roboto Slab";
    font-weight: bold;
    fill: $color;

    &--platinum {
      @extend .svg-stopwatch__text;
    }
  }
}

.distribution {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  &__bar {
    color: hsl(240, 3%, 7%);
    text-align: right;
    padding-right: 0.25rem;

    font-weight: 600;

    background: linear-gradient(
      to right,
      hsl(180, 100%, 66%),
      hsl(39, 100%, 50%)
    );
    // #ff6b6b - coral color
  }
}
