// TODO: Should probably rework this to "svg.scss", which includes streak, crown, stopwatch, ...

.streak-container {
  display: flex;
  align-items: center;
}

.flame {
  &--hidden {
    visibility: hidden;
  }

  &--near-invisible {
    fill: $bg-main-near-invisible;
  }

  &--normal {
    &--1 {
      fill: $streak-normal-1;
    }

    &--4 {
      fill: $streak-normal-4;
    }

    &--7 {
      fill: $streak-normal-7;
    }

    &--10 {
      fill: $streak-normal-10;
    }
  }

  &--challenge {
    &--1 {
      fill: $streak-challenge-1;
    }

    &--4 {
      fill: $streak-challenge-4;
      filter: drop-shadow(0 0 5px $streak-challenge-4-shadow);
    }

    &--7 {
      fill: $streak-challenge-7;
      filter: drop-shadow(0 0 10px $streak-challenge-7-shadow);
    }

    &--10 {
      fill: $streak-challenge-10;
      filter: drop-shadow(0 0 10px $streak-challenge-10-shadow)
        drop-shadow(0 0 30px $streak-challenge-10-shadow);
    }
  }
}

.crown {
  &__left {
    fill: $crown-left;

    &--near-invisible {
      fill: $bg-main-near-invisible;
    }
  }

  &__right {
    fill: $crown-right;

    &--near-invisible {
      fill: $bg-main-near-invisible;
    }
  }
}

.guess-icon {
  fill: $color;
}
