.streak-container {
  display: flex;
  align-items: center;

  // The flame SVG comes packaged with a tiny bit of padding on its left side, so we need to reciprocate on the right.
}

.flame {
  &--normal {
    &--1 {
      fill: $streak-normal-1;
    }

    &--4 {
      fill: $streak-normal-4;
    }

    &--7 {
      fill: $streak-normal-7;
    }

    &--10 {
      fill: $streak-normal-10;
    }
  }

  &--challenge {
    &--1 {
      fill: $streak-challenge-1;
    }

    &--4 {
      fill: $streak-challenge-4;
    }

    &--7 {
      fill: $streak-challenge-7;
    }

    &--10 {
      fill: $streak-challenge-10;
    }
  }
}

.crown {
  &__left {
    fill: #ffea8a;
  }

  &__right {
    fill: #ffdb2d;
  }
}
