@mixin phone-styles-waiting-room {
  .waiting-room-background {
    .waiting-room-user-info {
      gap: 0;
      font-size: 3.5vw;
      padding-inline: 3vw;
      padding-block: 3.5dvh;

      .waiting-room-user-line {
        &__display-name {
          width: 40vw;
        }

        &__right {
          margin-left: 3vw;

          .kick-confirmation-modal {
            padding-inline: 3vw;
            padding-block: 2dvh;

            font-size: 2.5vw;

            &__display-name {
              max-width: 35vw;
            }

            &__buttons {
              gap: 4vw;
            }
          }
        }
      }
    }

    .checkmark {
      width: 4.5vw;
      margin-right: 3vw;
    }

    .waiting-message {
      font-size: 5vw;
    }
  }
}

.waiting-room-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: min(95vw, 45rem);
  max-height: 705px;
  flex: 1;
  bottom: 1dvh;

  &::before {
    content: "";
    position: absolute;
    border-radius: 2rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url(../assets/waiting-room-background.jpg);
    background-repeat: repeat-x;
    background-position: 0px 20%;
    animation: slide 45s linear infinite;
    filter: $waiting-room-background-filter;
    box-shadow: 0.5rem 0.75rem 1rem hsl(0deg 0% 0% / 0.15);
  }

  @keyframes slide {
    to {
      background-position: -1920px 20%;
    }
  }

  .waiting-room-user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto Slab";
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem;
    gap: 1rem 5rem;
    border: 2px dashed hsl(0, 0%, 60%);
    padding-inline: 1.5rem;
    padding-block: 3.5dvh;

    .waiting-room-user-line {
      display: flex;

      &__display-name {
        width: 12rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &__left {
        display: flex;
        flex-direction: row;
        align-items: center;

        .checkmark {
          display: flex;
          width: 2rem;
          height: 0;
          align-items: center;
          margin-right: 1.5rem;

          &__polyline {
            @extend .checkmark;

            stroke-width: 12;
          }

          &__ready {
            @extend .checkmark;
            stroke: $private-room-ready;
          }
          &__not-ready {
            @extend .checkmark;
          }
        }
      }

      &__right {
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 1.5rem;

        .kick-confirmation-modal {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          z-index: 1;
          padding-inline: 1rem;
          padding-block: 0.6rem;

          background-color: hsl(0, 0%, 10%, 93%);
          color: white;
          border: none;
          border-radius: 1rem;

          font-size: 0.7rem;

          &__display-name {
            display: block;
            align-items: center;
            justify-content: center;
            vertical-align: top;
            max-width: 8rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &__buttons {
            display: flex;
            gap: 1rem;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .waiting-message {
    display: flex;
    font-family: "Suwannaphum";
    font-size: 2.5rem;
    mix-blend-mode: overlay;
  }

  .lobby-countdown-timer {
    position: absolute;

    top: -4.5rem;
    right: 0.5rem;
    font-size: 4rem;
    font-family: "Roboto Slab";
    align-self: flex-end;
  }
}
