@mixin phone-styles-waiting-room {
  .waiting-room-background {
    .waiting-room-user-info {
      gap: 0;
      font-size: 3.5vw;
      padding-inline: 3vw;
      padding-block: 3.5dvh;

      .waiting-room-user-line {
        &__display-name {
          width: 40vw;
        }

        &__right {
          margin-left: 3vw;

          .kick-confirmation-modal {
            min-width: 32vw;
            padding-inline: 3vw;
            padding-block: 2dvh;

            font-size: 3vw;

            &__display-name {
              max-width: 35vw;
            }

            &__buttons {
              font-size: 6.5vw;
              gap: 7.5vw;
            }
          }
        }
      }
    }

    .waiting-room-configuration-icon {
      top: 3%;
      left: 5%;
      font-size: 6vw;
    }

    .waiting-room-configuration {
      font-size: 5vw;
      width: 80%;
      margin-top: 2dvh;
      gap: 3dvh;
    }

    .config-option {
      &__right {
        justify-content: flex-end;
        font-size: 4vw;
        gap: 1dvh;

        input[type="range"] {
          width: 70%;
        }
      }

      .switch {
        width: 12vw;
        height: 6vw;
      }

      .slider {
        border-radius: 6vw;
      }

      .slider:before {
        height: 4vw;
        width: 4vw;
        left: 4px;
        bottom: 4px;
      }

      input:checked + .slider:before {
        transform: translateX(6vw);
      }
    }

    .checkmark {
      width: 4.5vw;
      margin-right: 3vw;
    }

    .waiting-message {
      font-size: 5vw;
    }
  }
}

.waiting-room-background {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: min(95vw, 45rem);
  max-height: 705px;
  flex: 1;
  bottom: 1dvh;

  &::before {
    content: "";
    position: absolute;
    border-radius: 2rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url(../assets/waiting-room-background.jpg);
    background-repeat: repeat-x;
    background-position: 0px 20%;
    animation: slide 45s linear infinite;
    filter: $waiting-room-background-filter;
    box-shadow: 0.5rem 0.75rem 1rem hsl(0deg 0% 0% / 0.15);
  }

  @keyframes slide {
    to {
      background-position: -1920px 20%;
    }
  }

  .waiting-room-configuration-icon {
    position: absolute;
    top: 3%;
    left: 3%;
    font-size: 2rem;
    opacity: 70%;
    cursor: pointer;

    &:hover {
      opacity: 60%;
      transition-duration: 0.1s;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  .waiting-room-user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto Slab";
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem;
    gap: 1rem 5rem;
    border: 2px dashed hsl(0, 0%, 60%);
    padding-inline: 1.5rem;
    padding-block: 3.5dvh;

    .waiting-room-user-line {
      display: flex;

      &__display-name {
        width: 12rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &__left {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      // TODO: This technically shouldn't be nested here (?)
      .checkmark {
        display: flex;
        width: 2rem;
        height: 0;
        align-items: center;
        margin-right: 1.5rem;

        &__diamond {
          fill: white;
          mix-blend-mode: soft-light;
        }

        // mix-blend-mode appears differently on Firefox. This is hard-coded for Firefox, but what can you do.
        @-moz-document url-prefix() {
          &__diamond {
            opacity: 65%;
            fill: $firefox-checkmark-diamond;
          }
        }

        &__polyline {
          @extend .checkmark;
          stroke-width: 12;
        }

        &__ready {
          @extend .checkmark;
          stroke: $private-room-ready;
        }

        &__not-ready {
          @extend .checkmark;
        }
      }

      &__right {
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 1.5rem;

        &--kick-x {
          color: $color;
          opacity: 80%;
          font-family: "Russo One";
          cursor: pointer;

          &:hover {
            color: $error;
          }
        }

        .kick-confirmation-modal {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          z-index: 1;
          padding-inline: 1.3rem;
          padding-block: 0.8rem;
          min-width: 10rem;

          font-family: "Roboto";
          font-weight: 500;
          font-size: 0.8rem;

          background-color: hsl(0, 0%, 10%, 93%);
          color: white;
          border: none;
          border-radius: 1rem;

          &__display-name {
            display: block;
            align-items: center;
            justify-content: center;
            vertical-align: top;

            font-family: "Roboto Slab";
            font-weight: 600;

            max-width: 8rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            // Italic gets cut off by "overflow: hidden". This does not! :D
            transform: skewX(-10deg);
          }

          &__buttons {
            display: flex;
            font-size: 1.5rem;
            margin-top: 0.6rem;
            gap: 2rem;

            &--left {
              &:hover {
                color: $btn-online-hover;
                cursor: pointer;
              }
            }

            &--right {
              &:hover {
                color: $btn-game-hover;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }

  .waiting-room-configuration {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 500;
    width: 70%;
    margin-top: 1rem;
    gap: 1.5rem;
  }

  .config-option {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__right {
      display: flex;
      font-size: 1.5rem;
      gap: 0.75rem;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 4rem;
      height: 2rem;

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      border-radius: 2rem;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: 0.4s;
    }

    input:checked + .slider {
      background-color: #2196f3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }

    input:checked + .slider:before {
      transform: translateX(2rem);
    }
  }

  .waiting-message {
    display: flex;
    font-family: "Suwannaphum";
    font-size: 2.5rem;
    mix-blend-mode: overlay;
  }

  .lobby-countdown-timer {
    position: absolute;

    top: -4.5rem;
    right: 0.5rem;
    font-size: 4rem;
    font-family: "Roboto Slab";
    align-self: flex-end;
  }
}
