@mixin phone-styles-welcome-message {
  .welcome-message {
    margin-block: 2dvh;
    line-height: 0.6;
  }
  .welcome-message,
  .username-form,
  .hidden-span {
    font-size: 11vw;
  }
  .username-form {
    text-underline-offset: 0.75dvh;
  }
  .username-form__pencil {
    font-size: 6vw;
  }

  .display-name-tooltip {
    &__text {
      font-size: 1rem;
      line-height: 1rem;
    }
  }
}

.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Calistoga";
  font-size: 3.5rem;
  line-height: 0.8;
  margin-block: 2rem;
  max-width: 100vw;
}

// TODO: LOUIE - What does this do?
.username-line {
  display: flex;
  flex-direction: column;
  line-height: 1.28;
}

.username-form,
.hidden-span {
  display: flex;
  color: $username;
  background-color: transparent;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Lobster";
  font-size: 3.5rem;
  text-decoration: underline dotted;
  -webkit-text-decoration: underline dotted;
  text-underline-offset: 0.5rem;
  max-width: 85vw;

  &--first-time {
    @extend .username-form;
    box-shadow: $tutorial-shadow;
    position: relative;
    z-index: 1;
  }

  &:hover {
    filter: $username-form-hover;
  }

  &__pencil {
    display: flex;
    font-size: 2rem;
    stroke-width: 0.11rem;
    cursor: pointer;

    &:hover {
      opacity: 50%;
    }

    &--first-time {
      @extend .username-form__pencil;
      background-color: $bg-main;
      position: relative;
      z-index: 1;
    }
  }
}

.hidden-span {
  position: absolute;
  visibility: hidden;
}

.display-name-tooltip {
  position: relative;
  z-index: 1;

  &__text {
    text-align: center;
    line-height: 1.75rem;
    font-family: "Roboto";
    font-size: 2rem;

    padding-block: 0.5rem;
  }
}
