.root {
  --width-desktop: 50vw;
  --width-mobile: 92.5vw;

  width: var(--width-desktop);
  max-width: var(--width-desktop);

  @media only screen and (max-width: 768px) {
    width: var(--width-mobile);
    max-width: var(--width-mobile);
  }

  /* background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-6)
  );
  box-shadow: var(--mantine-shadow-md);
  border: rem(1px) solid
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-4)); */
}

.indicator {
  background-image: linear-gradient(
    to right,
    hsl(339, 76%, 59%),
    hsl(27, 98%, 54%)
  );
}

.control {
  &::before {
    display: none;
  }
}

.label {
  &,
  &:hover {
    &[data-active] {
      color: hsl(0, 0%, 100%);
    }
  }
}
