/*
TODO: Would be nice to not have to hard-code width and max-width here. Not sure where to grab the variable from though.
*/

.statsBar {
  width: 16rem;
}

.progressSection {
  &:not(:first-of-type) {
    border-left: rem(3px) solid
      light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  }
}
