$color-primary: hsl(0, 0%, 85%);
$color-secondary: hsl(240, 2, 48);
$color-hover: hsl(0, 0, 80%);

@mixin box($width, $height) {
  display: flex;
  justify-content: center;
  align-items: center;

  width: $width;
  height: $height;
}

:root {
  font-family: "Roboto", sans-serif;
}

// Overwriting the default, which places a small
// margin around the perimeter for some reason
body {
  margin: 0;
  cursor: default;
  // background-color: hsl(72, 29%, 97%);
}

a {
  color: hsl(197, 100%, 40%);
  text-decoration: none;
}

// Header
.header {
  color: hsl(0, 0%, 27.5%);
  display: flex;
  align-items: center;
  padding-inline: 0.8rem; // shorthand for left and right padding

  font-size: 1rem;
  font-family: "Calistoga", serif;

  border-bottom: 1px solid $color-primary;

  &__title {
    margin: 0.5rem;
    cursor: pointer;

    &:hover {
      color: hsl(0, 0%, 37.5%);
      transition-duration: 0.1s;
    }

    &:active {
      transform: scale(0.97);
    }
  }

  &__svg {
    width: 2rem;
    height: 2rem;
    padding: 0.25rem;

    cursor: pointer;

    &:hover {
      color: hsl(0, 0%, 47.5%);
      transition-duration: 0.1s;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__svg--flipped {
    @extend .header__svg;
    transform: scaleX(-1);
  }

  // ! GPT (to UNDERSTAND)
  .header__left,
  .header__center,
  .header__right {
    flex: 1;
  }

  .header__right {
    display: flex;
    justify-content: flex-end;
  }
  // ! GPT
}

// Dialog
.dialog {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05), 0 0 10px 4px rgba(0, 0, 0, 0.05),
    0 0 15px 6px rgba(0, 0, 0, 0.05), 0 0 20px 8px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  max-width: 27.5rem;

  &__right {
    display: flex;
    justify-content: flex-end;
  }

  &__btn--close {
    width: 1.4rem;
    height: 1.4rem;

    cursor: pointer;
  }
}

// Menu
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  gap: 1rem;

  &__title {
    color: hsl(0, 0%, 0%);
    font-size: 2.5rem;
    font-family: "Lobster", sans-serif;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 15rem;
    height: 5rem;
    font-weight: 300;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;

    color: white;
    border-radius: 2rem;
    cursor: pointer;

    &:active {
      width: 17.5rem;
      transition-timing-function: ease-out;
    }

    &:hover {
      transition-duration: 0.1s;
      transition-timing-function: ease-in;
    }
  }

  &__btn--online {
    @extend .menu__btn;
    background-color: hsl(93, 77%, 38%);
    border: 3px solid hsl(93, 77%, 35%);

    &:hover {
      background-color: hsl(93, 77, 45);
      border: 3px solid hsl(93, 77%, 45%);
    }
  }

  &__btn--offline {
    @extend .menu__btn;
    background-color: hsl(197, 89%, 26%);
    border: 3px solid hsl(197, 89%, 23%);

    &:hover {
      background-color: hsl(197, 89, 36);
      border: 3px solid hsl(197, 89%, 36%);
    }
  }
}

.btn--new-game {
  @extend .menu__btn;

  width: 10rem;
  height: 2.5rem;
  font-size: 1.3rem;
  line-height: 1.2rem;

  background-color: hsl(0, 52%, 48%);
  color: white;

  border: 3px solid hsl(0, 52%, 45%);
  border-radius: 2rem;
  cursor: pointer;

  &:active {
    transform: scale(0.95);
    width: 10rem;
    transition-timing-function: ease-out;
  }

  &:hover {
    background-color: hsl(0, 52, 58);
    border: 3px solid hsl(0, 52, 58);
  }

  &--hidden {
    @extend .btn--new-game;
    visibility: hidden;
  }
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 1rem;
}

.countdown-timer {
  position: fixed;
  top: 23%;
}

.boards-container {
  display: flex;
  flex-direction: row;
}

// Game
.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.35rem;

  padding: 1rem;

  &--game-over {
    @extend .game-board;
    opacity: 50%;
  }
}

.guess {
  display: flex;
  gap: 0.35rem;

  &__tile {
    @include box(3.5rem, 3.5rem);
    border: 2px solid $color-primary;

    color: black;
    font-weight: bold;
    font-size: 2rem;

    &--active {
      @extend .guess__tile;
      border-color: $color-secondary;
    }

    &--correct {
      @extend .guess__tile;
      color: white;
      border-color: hsl(115, 29, 52);
      background-color: hsl(115, 29, 52);
    }

    &--wrong-position {
      @extend .guess__tile;
      color: white;
      border-color: hsl(49, 51, 57);
      background-color: hsl(49, 51, 57);
    }

    &--wrong {
      @extend .guess__tile;
      color: white;
      border-color: $color-secondary;
      background-color: $color-secondary;
    }
  }
}

// Keyboard
.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.45rem;

  &__row {
    display: flex;
    gap: 0.45rem;
  }

  &__key {
    @include box(2.5rem, 3.5rem);

    cursor: pointer;

    background-color: $color-primary;
    border: none;
    border-radius: 0.25em;
    font-weight: bold;
    font-size: 1.2em;

    &:hover {
      background-color: $color-hover;
      transition-duration: 0.1s;
      transition-timing-function: ease-in;
    }

    &--correct {
      @extend .keyboard__key;
      color: white;
      border-color: hsl(115, 29, 52);
      background-color: hsl(115, 29, 52);
    }

    &--wrong-position {
      @extend .keyboard__key;
      color: white;
      border-color: hsl(49, 51, 57);
      background-color: hsl(49, 51, 57);
    }

    &--wrong {
      @extend .keyboard__key;
      color: white;
      border-color: $color-secondary;
      background-color: $color-secondary;
    }

    &--large {
      @extend .keyboard__key;
      width: 4rem;
      font-size: 0.75rem;

      &--svg {
        @extend .keyboard__key--large;
        font-size: 1.5rem;
      }
    }
  }
}

// @media (max-width: 360px) {
//   body {
//     background-color: lightblue;
//   }
//   .keyboard {
//     width: clamp(200px, 50%, 600px);
//   }
// }
