$guess-w: 3.5rem;
$guess-h: 3.5rem;
$guess-gap: 0.25em;

$key-gap: 0.4em;

$header-font-size: 1rem;

$main_color: hsl(0, 0%, 85%);

@mixin box($width, $height) {
  display: flex;
  justify-content: center;
  align-items: center;

  width: $width;
  height: $height;
}

:root {
  font-family: "Roboto", sans-serif;
}

// Overwriting the default, which places a small
// margin around the perimeter for some reason
body {
  margin: 0;
}

// Header
header {
  display: flex;
  align-items: center;
  padding-inline: 0.8rem; // shorthand for left and right padding

  font-size: $header-font-size;
  font-family: "Calistoga", cursive;

  border-bottom: 1px solid $main_color;

  .svg {
    width: $header-font-size * 2;
    height: $header-font-size * 2;
    padding: 0.25em;

    &--flipped {
      @extend .svg;
      transform: scaleX(-1);
    }
  }

  // ! GPT (to UNDERSTAND & to SCSS-ify)
  .header__left,
  .header__center,
  .header__right {
    flex: 1;
  }

  .header__right {
    display: flex;
    justify-content: flex-end;
  }

  h1 {
    margin: 0.5rem;
  }
  // ! GPT
}

// Game
.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $guess-gap;

  padding: 1em;
}

.guess {
  display: flex;
  gap: $guess-gap;

  &__box {
    @include box($guess-w, $guess-h);
    border: 2px solid $main_color;

    font-weight: bold;
    font-size: $guess-w/1.5;
  }
}

// Keyboard
.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $key-gap;

  &__row {
    display: flex;
    gap: $key-gap;
  }

  &__key {
    @include box($guess-w/1.5, $guess-h);

    background-color: $main_color;
    border-radius: 0.25em;
    font-weight: bold;
    font-size: 1.25em;

    &--large {
      @extend .keyboard__key;
      width: $guess-w;
      font-size: 0.75em;

      &--svg {
        @extend .keyboard__key--large;
        font-size: 1.5em;
      }
    }
  }
}
