@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$main_color: hsl(0, 0%, 85%);
$color_hover: hsl(0, 0%, 70%);

$cell-size: 2rem;
$cell-padding: 0.5rem;

$card-width: 6rem;
$card-height: 10rem;
$card-margin: 1rem;

// Overwrite default values, allows navbar to be flush with page
body {
    margin: 0;
}

:root {
    font-family: "Roboto", sans-serif;
}

.navbar {
    border-bottom: 1px solid $main_color;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    font-size: 1.5rem;

    &__left {
        display: flex;
        flex-direction: row;
        flex: 1;
        padding-inline-start: 1rem;
    }

    &__right {
        display: flex;
        justify-content: flex-end;
        gap: 2rem;
        padding-inline-end: 1rem;
    }

    &__info {
        cursor: pointer;

        &:hover {
            color: hsl(0, 0%, 47.5%);
            transition-duration: 0.1s;
          }
      
          &:active {
            transform: scale(0.9);
          }
    }
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100vh;
}

.game-board {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    &__row {
        @extend .game-board;
        flex-direction: row;
    }

    &__cell {
        display: flex;
        justify-content: center;
        align-items: center;

        width: $cell-size;
        height: $cell-size;
        font-size: $cell-size;
        font-weight: bold;
        border: 2px solid $main_color;
        padding: $cell-padding;

        &--green {
            @extend .game-board__cell;
            color: white;
            border-color: hsl(115, 29, 52);
            background-color: hsl(115, 29, 52);
        }

        &--yellow {
            @extend .game-board__cell;
            color: white;
            border-color: hsl(49, 51, 57);
            background-color: hsl(49, 51, 57);
        }

        &--grey {
            @extend .game-board__cell;
            color: white;
            border-color: hsl(240, 2, 48);
            background-color: hsl(240, 2, 48);
        }
    }
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;

    &__row {
        @extend .keyboard;
        flex-direction: row;
    }

    &__cell {
        padding: 1rem;
        font-weight: bold;
        background-color: $main_color;
        border: none;
        border-radius: 0.2rem;
        cursor: pointer;

        &:hover {
            background-color: $color-hover;
            transition-duration: 0.1s;
            transition-timing-function: ease-in;
        }

        &--green {
            @extend .keyboard__cell;
            color: white;
            border-color: hsl(115, 29, 52);
            background-color: hsl(115, 29, 52);
        }

        &--yellow {
            @extend .keyboard__cell;
            color: white;
            border-color: hsl(49, 51, 57);
            background-color: hsl(49, 51, 57);
        }

        &--grey {
            @extend .keyboard__cell;
            color: white;
            border-color: hsl(240, 2, 48);
            background-color: hsl(240, 2, 48);
        }
    }

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    &.display {
        display: block;
    }

    &.hide {
        display: none;
    }
  }
  

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;

    font-family: 'Montserrat';
    font-size: 0.9rem;
    padding-bottom: 1rem;
    font-weight: 500;

    &__close {
        position: absolute;
        width: 1rem;
        height: 1rem;
        top: 0;
        right: 0;
        padding: 1rem;
        cursor: pointer;
    }
}

.alert-modal {
    display: flex;
    align-items: center;
    top: 10px;
    padding-inline: 1rem;
    padding-block: 0.6rem;
    background-color: hsl(0, 0%, 10%, 90%);

    color: white;

    opacity: 1;
    transition: opacity 0.5s ease-out;

    &.hide {
        opacity: 0;
    }
}

.menu h3 {
    margin-bottom: 0;
}

.mode-selector {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-container {
    display: flex;
    flex-direction: row;
}

.card {
    width: $card-width;
    height: $card-height;
    border: 2px solid $main_color;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: $card-margin;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }

    &.selected {
        background-color: lightblue;
    }
}

.play-button {
    margin-top: 2rem;
    color: hsl(0, 0%, 10%, 70%);
    width: 3rem;
    height: 3rem;
    cursor: pointer;

    &:hover {
        color: hsl(0, 0%, 10%, 90%);
        transform: scale(1.2);
        transition: transform 0.3s ease;
    }
}