@import "./desktop_components/navbar";
@import "./desktop_components/menu";
@import "./desktop_components/welcome-message";
@import "./desktop_components/waiting-room";
@import "./desktop_components/game";
@import "./desktop_components/keyboard";
@import "./desktop_components/alert-modal";
@import "./desktop_components/streak";

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
