// TODO: Rename "username" to "displayName" at some point in SCSS

html,
html[data-theme="light"] {
  --bg-main: hsl(0, 0%, 100%);
  --bg-main-dark: hsl(0, 0%, 100%);
  --color: hsl(240, 3%, 7%);
  --color-secondary: hsl(240, 3%, 37%);

  --correct: hsl(115, 29%, 53%);
  --wrong-position: hsl(49, 51%, 57%);
  --wrong: hsl(200, 2%, 48%);
  --hint: hsl(0, 42%, 60%);
  --key: hsl(0, 0%, 85%);
  --active: hsl(0, 0%, 55%);
  --border: hsl(0, 0%, 80%);

  --correct-hover: hsl(115, 29%, 63%);
  --wrong-position-hover: hsl(49, 51%, 67%);
  --wrong-hover: hsl(200, 2%, 58%);
  --hint-hover: hsl(0, 42%, 70%);
  --key-hover: hsl(0, 0%, 80%);

  --btn-online: hsl(93, 77%, 38%);
  --btn-offline: hsl(197, 89%, 26%);
  --btn-game: hsl(0, 52%, 48%);
  --btn-copy: hsl(0, 0%, 90%);
  --btn-neutral: hsl(0, 0%, 95%);

  --btn-copy-border: hsl(0, 0%, 77%);

  --btn-online-hover: hsl(93, 77%, 48%);
  --btn-offline-hover: hsl(197, 89%, 36%);
  --btn-game-hover: hsl(0, 52%, 58%);
  --btn-copy-hover: hsl(0, 0%, 95%);
  --btn-neutral-hover: hsl(0, 0%, 90%);

  --error: hsl(0, 100%, 50%);
  --challenge: hsl(12, 90%, 35%);
  --tutorial-shadow: 0 0 0 max(100dvh, 100vw) rgba(0, 0, 0, 0.3);
  --username: hsl(278, 37%, 69%);
  --username-hover: hsl(278, 37%, 74%);
  --username-form-hover: ghtness(110%);
  --username-shadow: hsl(278, 37%, 34%);
  --username-shadow-hover: hsl(278, 37%, 44%);
  --header-hover: 65%;
  --waiting-room-background-filter: invert(0);
  --private-room-info: hsl(273, 22%, 84%);
  --private-room-ready: hsl(120, 70%, 35%);
  // --private-room-ready: hsl(278, 43%, 61%);

  --firefox-checkmark-diamond: hsl(0, 0%, 100%);

  --stats-tabs-shadow: hsla(0, 0%, 45%, 0.1);
  --wins: hsl(93, 77%, 38%);
  --solves: hsl(197, 89%, 26%);
  --wins-shadow: hsla(54, 59%, 54%, 0.5);
  --solves-shadow: hsla(276, 72%, 72%, 0.5);
  --text-shadow: hsla(0, 0%, 0%, 0.5);

  --streak-normal-1: hsl(49, 92%, 54%);
  --streak-normal-4: hsl(36, 88%, 55%);
  --streak-normal-7: hsl(30, 100%, 47%);
  --streak-normal-10: hsl(1, 81%, 43%);

  --streak-challenge-1: hsl(208, 60%, 17%);
  --streak-challenge-4: hsl(204, 65%, 32%);
  --streak-challenge-7: hsl(188, 57%, 54%);
  --streak-challenge-10: hsl(180, 100%, 66%);

  --crown-left: hsl(50, 100%, 75%);
  --crown-right: hsl(50, 100%, 60%);

  --stopwatch-bronze: hsl(26, 57%, 48%);
  --stopwatch-silver: hsl(210, 8%, 80%);
  --stopwatch-gold: hsl(50, 100%, 50%);
  --stopwatch-platinum: hsl(180, 80%, 82%);

  --stopwatch-shadow-height: 5px;
  --stopwatch-bronze-shadow: hsla(32, 77%, 38%, 0.4);
  --stopwatch-silver-shadow: hsla(0, 0%, 0%, 0.4);
  --stopwatch-gold-shadow: hsla(39, 100%, 30%, 0.6);
  --stopwatch-platinum-shadow: hsla(236, 74%, 64%, 0.5);
}

html,
html[data-theme="dark"] {
  --bg-main: hsl(240, 3%, 7%);
  --bg-main-dark: hsl(240, 3%, 11%);
  --color: hsl(0, 0%, 95%);
  --color-secondary: hsl(0, 0%, 85%);

  --correct: hsl(115, 29%, 43%);
  --wrong-position: hsl(49, 51%, 47%);
  --wrong: hsl(240, 5%, 25%);
  --hint: hsl(0, 42%, 50%);
  --key: hsl(200, 1%, 51%);
  --active: hsl(0, 0%, 35%);
  --border: hsl(0, 0%, 20%);

  --correct-hover: hsl(115, 29%, 53%);
  --wrong-position-hover: hsl(49, 51%, 57%);
  --wrong-hover: hsl(240, 5%, 35%);
  --hint-hover: hsl(0, 42%, 60%);
  --key-hover: hsl(0, 0%, 60%);

  --btn-online: hsl(93, 77%, 30%);
  --btn-offline: hsl(197, 89%, 18%);
  --btn-game: hsl(0, 52%, 40%);
  --btn-copy: hsl(0, 0%, 20%);
  --btn-neutral: hsl(0, 0%, 85%);

  --btn-copy-border: hsl(0, 0%, 23%);

  --btn-online-hover: hsl(93, 77%, 40%);
  --btn-offline-hover: hsl(197, 89%, 28%);
  --btn-game-hover: hsl(0, 52%, 53%);
  --btn-copy-hover: hsl(0, 0%, 30%);
  --btn-neutral-hover: hsl(0, 0%, 90%);

  --error: hsl(0, 100%, 50%);
  --challenge: hsl(12, 90%, 40%);
  --tutorial-shadow: 0 0 0 max(100dvh, 100vw) rgba(255, 255, 255, 0.3);
  --username: hsl(40, 78%, 53%);
  --username-hover: hsl(40, 78%, 58%);
  --username-form-hover: brightness(112%);
  --username-shadow: hsl(40, 78%, 29%);
  --username-shadow-hover: hsl(40, 78%, 39%);
  --header-hover: 85%;
  --waiting-room-background-filter: invert(1);
  --private-room-info: hsl(40, 20%, 45%);
  // --private-room-ready: hsl(120, 100%, 50%);
  --private-room-ready: hsl(51, 100%, 50%);

  --firefox-checkmark-diamond: hsl(150, 100%, 68%, 0.4);

  --stats-tabs-shadow: hsla(0, 0%, 45%, 0.15);
  --wins: hsl(93, 67%, 46%);
  --solves: hsl(194, 69%, 31%);
  --wins-shadow: hsla(54, 52%, 36%, 0.5);
  --solves-shadow: hsla(278, 58%, 37%, 0.8);
  --text-shadow: hsla(0, 0%, 50%, 0.9);

  --streak-normal-1: hsl(41, 92%, 62%);
  --streak-normal-4: hsl(32, 78%, 53%);
  --streak-normal-7: hsl(20, 87%, 52%);
  --streak-normal-10: hsl(1, 61%, 49%);

  --streak-challenge-1: hsl(208, 60%, 17%);
  --streak-challenge-4: hsl(204, 65%, 32%);
  --streak-challenge-7: hsl(188, 57%, 54%);
  --streak-challenge-10: hsl(180, 100%, 66%);

  --crown-left: hsl(50, 100%, 80%);
  --crown-right: hsl(50, 100%, 60%);

  --stopwatch-bronze: hsl(26, 57%, 53%);
  --stopwatch-silver: hsl(190, 10%, 77%);
  --stopwatch-gold: hsl(50, 100%, 50%);
  --stopwatch-platinum: hsl(180, 80%, 82%);

  --stopwatch-shadow-height: 4px;
  --stopwatch-bronze-shadow: hsla(32, 71%, 41%, 0.4);
  --stopwatch-silver-shadow: hsla(0, 0%, 45%, 0.6);
  --stopwatch-gold-shadow: hsla(39, 75%, 52%, 0.6);
  --stopwatch-platinum-shadow: hsla(240, 100%, 75%, 0.9);
}

// Main colors
$bg-main: var(--bg-main);
$bg-main-dark: var(--bg-main-dark);
$color: var(--color);
$color-secondary: var(--color-secondary);

// Game colors
$correct: var(--correct);
$wrong-position: var(--wrong-position);
$wrong: var(--wrong);
$hint: var(--hint);
$active: var(--active);
$key: var(--key);
$border: var(--border);

$correct-hover: var(--correct-hover);
$wrong-position-hover: var(--wrong-position-hover);
$wrong-hover: var(--wrong-hover);
$hint-hover: var(--hint-hover);
$key-hover: var(--key-hover);

// Button colors
$btn-online: var(--btn-online);
$btn-offline: var(--btn-offline);
$btn-game: var(--btn-game);
$btn-copy: var(--btn-copy);
$btn-neutral: var(--btn-neutral);

$btn-copy-border: var(--btn-copy-border);

$btn-online-hover: var(--btn-online-hover);
$btn-offline-hover: var(--btn-offline-hover);
$btn-game-hover: var(--btn-game-hover);
$btn-copy-hover: var(--btn-copy-hover);
$btn-neutral-hover: var(--btn-neutral-hover);

// Miscellaneous
$error: var(--error);
$challenge: var(--challenge);
$tutorial-shadow: var(--tutorial-shadow);
$username: var(--username);
$username-hover: var(--username-hover);
$username-form-hover: var(--username-form-hover);
$username-shadow: var(--username-shadow);
$username-shadow-hover: var(--username-shadow-hover);
$header-hover: var(--header-hover);
$waiting-room-background-filter: var(--waiting-room-background-filter);
$private-room-info: var(--private-room-info);
$private-room-ready: var(--private-room-ready);
$firefox-checkmark-diamond: var(--firefox-checkmark-diamond);

// Stats Page
$stats-tabs-shadow: var(--stats-tabs-shadow);
$wins: var(--wins);
$solves: var(--solves);
$wins-shadow: var(--wins-shadow);
$solves-shadow: var(--solves-shadow);
$text-shadow: var(--text-shadow);

// Streak
$streak-normal-1: var(--streak-normal-1);
$streak-normal-4: var(--streak-normal-4);
$streak-normal-7: var(--streak-normal-7);
$streak-normal-10: var(--streak-normal-10);

$streak-challenge-1: var(--streak-challenge-1);
$streak-challenge-4: var(--streak-challenge-4);
$streak-challenge-7: var(--streak-challenge-7);
$streak-challenge-10: var(--streak-challenge-10);

// Crown
$crown-left: var(--crown-left);
$crown-right: var(--crown-right);

// Stopwatch
$stopwatch-bronze: var(--stopwatch-bronze);
$stopwatch-silver: var(--stopwatch-silver);
$stopwatch-gold: var(--stopwatch-gold);
$stopwatch-platinum: var(--stopwatch-platinum);

$stopwatch-shadow-height: var(--stopwatch-shadow-height);
$stopwatch-bronze-shadow: var(--stopwatch-bronze-shadow);
$stopwatch-silver-shadow: var(--stopwatch-silver-shadow);
$stopwatch-gold-shadow: var(--stopwatch-gold-shadow);
$stopwatch-platinum-shadow: var(--stopwatch-platinum-shadow);

// Breakpoints
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

:export {
  breakpointSm: $breakpoint-sm;
  breakpointMd: $breakpoint-md;
  breakpointLg: $breakpoint-lg;
  breakpointXl: $breakpoint-xl;
}
